{% extends "user/base.html" %}
{% load static %}

{% block title %} Create Post {% endblock %}
{% block content %}
  <div class='card col-12 col-sm-8 col-md-5 p-4 text-center p-4 pt-5' style="margin-top:5rem">
      <p><img src="{% static 'img/logo.png' %}" alt="logo" style="width:180px"></p>  
      <h5>Create New Post</h5>
      <p class='text-muted mb-5'>Upload an image and add a caption.</p>

      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group d-flex justify-content-center mb-3">
            <div class="custom-file col-11">
              {{ form.photo }}
              <label class="custom-file-label d-inline" for="file-upload" style="background-color: #fafafa;">Choose file</label>
            </div>
          </div>
          {{ form.caption }}
          <input type="submit" class="btn btn-primary col-6 mt-2 p-1" value="Upload" style="font-size: 0.9rem; font-weight: 600; background-color:#0095f6;" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
  </div>

  <footer class='col-12 mb-2 mt-5 justify-content-center' style="font-size: 0.75rem; color:#8e8e8e">
      <p class='text-center'style='cursor:pointer;'> About  &emsp;Blog  &emsp;Jobs &emsp; Help &emsp; API  &emsp;Privacy &emsp; Terms &emsp; Top Accounts &emsp; Hashtags &emsp;Locations</p>
      <p class='text-center'style='cursor:pointer;'> English  © 2021 Instagram from Facebook</p>
  </footer>

  <style>
      .card{
          background-color: white !important;
          border:1px solid #e8e8e8 !important;
      }
      label{
          display: none !important;
      }
      #id_email{
          border-radius: 5px;
          border: 1px solid #e5e5e5 !important;
          width:85% !important;
          height:2rem !important;
          outline:none;
          padding:10px;
          background-color:#fafafa;
      }
      [type=submit]{
          width:80%;
      }
  </style>


{% endblock %}