{% extends "user/base.html" %}
{% load humanize %}
{% load time_format %}
{% load static %}

{% block title %} Instagram {% endblock %}

{% block content %}
<div class='row col-12 col-lg-9 justify-content-start' style="padding: 0; margin: 0;">
  <div class='main-content col-xs-12 col-md-11 col-lg-8 '>
    <div class="infinite-container">

      {% for post in page_obj %}
      <div class="infinite-item post card" id='post-{{post.id}}'>

        <div class="card-header">
          <img class="rounded-circle post-owner-img" src="{{ post.owner.user.photo.url }}" style="width:32px;">
          <a class="owner-username mr-2 text-dark" href="{% url 'profile' post.owner.username %}"> {{ post.owner }}</a>
        </div>

        <div class='post-img-container'>
          <img class="post-img" id='post-img-{{post.id}}' src="{{ post.photo.url }}">
          <svg aria-label="Unlike" class="heart" fill="#fff" height="25" viewBox="0 0 48 48" width="26" >
            <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
            </path>
          </svg>
        </div>

        <div class="card-body">
          
          <div class='buttons col-12 d-inline-flex'>
            <div class='like_btn'>
              <!-- like btn -->              
              <a onclick=
              "likePost('{% url 'post_unlike' post.id %}', {{ post.id }} );return false;"
              {% if post.id not in liked_posts %} style="display: none;" {% endif %}
              class="like-btn like-btn-{{post.id}}" id="like-btn-{{post.id}}">
                <svg aria-label="Unlike" class="_8-yf5 " fill="#ed4956" height="25" viewBox="0 0 48 48" width="26" >
                  <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                  </path>
                </svg>
              </a>

              <!-- unlike btn -->
              <a onclick=
              "likePost('{% url 'post_like' post.id %}', {{ post.id }} );return false;"
              {% if post.id in liked_posts %} style="display: none;" {% endif %}
              class="unlike-btn unlike-btn-{{post.id}}" id="unlike-btn-{{post.id}}">
                <svg aria-label="Like" class="_8-yf5 " fill="#262626" height="25" viewBox="0 0 48 48" width="26" >
                  <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                  </path>
                </svg>
              </a>
            </div>          

            <!-- comment btn -->
            <div class='all-comments' id='all-comments-{{post.id}}' data-toggle="modal" data-target="#single-post-view"></divw>
              <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">
                </path>
              </svg>
            </div>

            <!-- Modal -->
            <div class="modal fade share-modal" id="share-modal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="share-modalLabel" aria-hidden="true">
              <div class="modal-dialog  modal-dialog-centered" style="max-width: 40%; height: 50vh !important;" role="document">
                <div class="modal-content" style="border-radius: .75rem !important;">
                  <div class="d-flex justify-content-center p-2" style="border-bottom: 1px solid #e0e0e0;" >
                    <button type="button" class="close mr-auto p-1" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title col-7 justify-content-start" id="share-modalLabel"><small><b>Share</b></small></h5>
                  </div> 
                    <form onsubmit="event.preventDefault()" class="search-form p-3 col-12" autocomplete="off" spellcheck="false">
                      <label for='share-label-{{post.id}}' class="col-1 p-0"><b>To:</b> </label>
                      <input class="share-input col-8" id="share-input-{{post.id}}" type="text" placeholder="Search..." aria-label="Search" onfocus="clearField(this)" autofocus style="border:none; outline:none;">
                    </form>
                    <div class='modal-footer justify-content-start' style="height: 30vh; overflow-y: auto;">
                    <div class='share-search-results' id='share-search-results-{{post.id}}' style=" width:100%;">
                      {% include 'post/share_profile_search.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- share btn -->
            <div class='share_btn'>
              <svg aria-label="Share Post" data-toggle="modal" data-target="#share-modal-{{post.id}}" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                </path>
              </svg>
            </div>        
              

            <!-- unsave btn -->     
            <div class='save_btn'>
              <a onclick=
                "savePost('{% url 'post_unsave' post.id %}', {{ post.id }} );return false;"
                {% if post.id not in saved_posts %} style="display: none;" {% endif %}
                class="save-btn save-btn-{{post.id}}" id="save-btn-{{post.id}}">
                  <!-- save btn -->
                  <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                    <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 28.9 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1z">
                    </path>
                  </svg>  
                </a>
                  

                <!-- save btn -->
                <a onclick=
                "savePost('{% url 'post_save' post.id %}', {{ post.id }} );return false;"
                {% if post.id in saved_posts %} style="display: none;" {% endif %}
                class="unsave-btn unsave-btn-{{post.id}}" id="unsave-btn-{{post.id}}">
                <!-- unsave btn -->
                  <svg aria-label="Unsave" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24" id='save_btn'>
                    <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                    </path>
                  </svg>
                </a>
              </div>
          </div>

          <div class='post-like post-like-{{post.id}}' id='post-like-{{post.id}}'>
            <p>
            {% if post.post_likes.count > 1 %}
            {{post.post_likes.count}} likes
            {% elif post.post_likes.count == 1 %}
            {{post.post_likes.count}} like
            {% endif %}
            </p>
          </div>
        
          {% if post.caption %}
          <span class='owner-username mt-3'>{{post.owner.username}}</span> {{post.caption}}
          {% endif %}

          {% if post.post_comments.count > 2 %}
          <div class='all-comments text-muted' id='all-comments-{{post.id}}'> View all {{post.post_comments.count}} comments </div>
          {% endif %}

          <div class='comment-section comment-section-{{post.id}}' id='comment-section-{{post.id}}'>
            {% for comment in post.post_comments.all|slice:":2" %}
              <p> <span class='owner-username'><a href="{% url 'profile' comment.owner.username %}">{{comment.owner.username}}</a></span>  {{ comment.text }}</p>
            {% endfor %}
          </div>

          <small class="text-muted" style="font-size: 65%;">{{post.created_at|timesince|upto:','}}</small>
            
        </div>

        <div class="row card-footer justify-content-start">
          <form method="post" class='commentForm col-12 p-0' id='commentForm-{{post.id}}' name='commentForm' autocomplete="off" spellcheck="false">
            <span class='emoji mr-1'>
              <img class="rounded-circle post-owner-img" src="{{ user.user.photo.url }}" style="width:32px;">
              <svg aria-label="Emoji" fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path><path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path>
              </svg>
            </span>
            {% csrf_token %}
            {{comment_form.text}}
            <input type='submit' class='comment-submit col-5 col-md-6 justify-content-end text-right' value="Post"> 
            <input type='hidden' name='url' id='url' value='{% url "post_comment_create" post.id %}'>
          </form>       
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="side-content col-md-4 d-none d-lg-block">
    <div class="content-section">
      <div class='media'>
        <div class='media-left' style="margin-right:2%;">
          <img class="rounded-circle post-owner-img" src="{{ user.user.photo.url }}" style="width:56px;">
        </div>
        <div class='media-body' style="margin-top:2%;">
          <div class='media-heading'>
            <a class="owner-username mr-2 text-dark" href="{% url 'profile' user.username %}"> {{ user.username }}</a>
          </div>
          <div class='text-muted'> {{ user.first_name }}</div>
        </div>
      </div>
    
      <small style="color:#cacaca; font-size:70%; cursor: pointer;">
        About &middot; Help &middot; Press &middot; API &middot; Jobs &middot; Privacy &middot; Terms &middot; Locations <br>
        Top Accounts &middot; Hashtags &middot; Language <br><br>© 2021 INSTAGRAM FROM FACEBOOK
      </small>

    </div>
  </div> 
</div>

<footer class='col-12 mb-2 mt-5 justify-content-center' style="font-size: 0.75rem; color:#8e8e8e;">
  <p class='text-center'style='cursor:pointer;'> About  &emsp;Blog  &emsp;Jobs &emsp; Help &emsp; API  &emsp;Privacy &emsp; Terms &emsp; Top Accounts &emsp; Hashtags &emsp;Locations</p>
  <p class='text-center'style='cursor:pointer;'> English  © 2021 Instagram from Facebook</p>
</footer>

{% if page_obj.has_next %}
  <a class='infinite-more-link' href='?page={{page_obj.next_page_number }}'></a>
{% endif%}      

{% endblock %}

{% block js %}
  <script src='{% static "js/jquery.waypoints.min.js" %}'></script>
  <script src='{% static "js/infinite.min.js" %}'></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      offset: 'bottom-in-view',
      onBeforePageLoad: function () {
        $('.loading-posts').show()
      },
      onAfterPageLoad: function () {
        $('.loading-posts').hide()
      },
    })

  $(function() {
    $('#nav-home>a').html('<svg aria-label="Home" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22"><path d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z"></path></svg>')
  });

  </script> 

{% endblock%}