{% if profiles %}
  <ul id='search-list'>
    {% for profile in profiles %}
    <a href='{% url "profile" profile.username %}'>
    <li style="width: fit-content;">
      <div style="display: flex;"><img class='rounded-circle' id='search-pic'src='{{ profile.user.photo.url}}'>
        <ul style="list-style-type: none; padding-left:2%; height:fit-content;">
        <li style="font-weight: 600;margin-bottom: -45%;">
          {{profile.username}}
        </li>
        <br>
        <li style="color:grey; font-weight: 400;">
          {{profile.first_name}}
        </li>
      </ul>
    </li>
    </a>
    {% endfor %}
  </ul>
{% else %}
  <div id='no-result'>No results found.</div>
{% endif %}