{% if profiles %}
  <ul id='search-list'>

    {% for profile in profiles %}
    <li class='share-post' id='share-post-{{profile.id}}'>
      <div class="media p-0">
          <div class="media-left">
            <img class='rounded-circle' id='search-pic'src='{{ profile.user.photo.url}}'>              
          </div>
          <div class="media-body">
            <p class="media-heading m-0">
              <b> {{profile.username}} </b>
            </p>
            <p class='text-muted '>{{profile.first_name}}</p>
      </div>
      <br>
    </li>
    {% endfor %}
    
  </ul>

{% endif %}