{% load static %}
{% load humanize %}
{% load time_format %}

<div class='col-8 d-none d-md-block' style="padding:0;">
  <img class="article-img" src="{{ post.photo.url }}" style="width: 100%; height: 85vh; border-right: rgb(230, 230, 230) solid 0.1px;"">    
</div>

<div class='col-12 col-md-4' style="padding:0;">

  <div class='post-metadata' style="padding:5% 2%; border-bottom: rgb(230, 230, 230) solid 0.1px;">
    <img class="rounded-circle article-img" src="{{ post.owner.user.photo.url }}" style="width:32px; height:32px; border-right: rgb(230, 230, 230) solid 0.1px;">
    <a class="mr-2" href="{% url 'profile' post.owner.username %}"><span class='owner-username'>{{post.owner.username}}</span></a>
  </div>


  <div class='comment-section comment-section-{{post.id}}' id='comment-section-{{post.id}}' style="overflow-y:scroll; scrollbar-width:none; overflow-x: hidden; height:45vh; border-bottom: rgb(230, 230, 230) solid 0.1px; margin:2% 1.5% !important;">
    {% for comment in post.post_comments.all %}
      <div class='media'>
        <div class="media-left">
          <img class='rounded-circle' src='{{comment.owner.user.photo.url}}'style="width:25px; height:25px;">
        </div>
        <div class="media-body">
          <span class='owner-username'><a href="{% url 'profile' comment.owner.username %}">{{comment.owner.username}}</a></span> {{comment.text}} <br>
          <small class="text-muted">{{ comment.created_at|timesince|shortUpto:',' }}</small>
          <small class="reply-btn text-muted pl-2" id='reply-btn-{{comment.id}}' style="cursor:pointer;">Reply</small>

          <div class='reply-section' id='reply-section-{{comment.id}}'>
          {% for reply in comment.comment_replies.all %}
            <div class='media'>
              <div class="media-left">
                <img class='rounded-circle' src='{{reply.owner.user.photo.url}}'style="width:25px; height:25px;">
              </div>
              <div class="media-body">
                <span class='owner-username'><a href="{% url 'profile' reply.owner.username %}">{{reply.owner.username}}</a> </span> {{reply.text}} <br>
                <small class="text-muted">{{ reply.created_at|timesince|shortUpto:',' }}</small>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
  
    
    <div class='buttons col-12 d-inline-flex'>
      <div class='like_btn col-1'>
        <!-- like btn -->              
        <a onclick=
        "likePost('{% url 'post_unlike' post.id %}', {{ post.id }} );return false;"
        {% if post.id not in liked_posts %} style="display: none;" {% endif %}
        class="like-btn like-btn-{{post.id}}" id="like-btn-{{post.id}}">
          <svg aria-label="Unlike" class="_8-yf5 " fill="#ed4956" height="25" viewBox="0 0 48 48" width="26" >
            <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
            </path>
          </svg>
        </a>

        <!-- unlike btn -->
        <a onclick=
        "likePost('{% url 'post_like' post.id %}', {{ post.id }} );return false;"
        {% if post.id in liked_posts %} style="display: none;" {% endif %}
        class="unlike-btn unlike-btn-{{post.id}}" id="unlike-btn-{{post.id}}">
          <svg aria-label="Like" class="_8-yf5 " fill="#262626" height="25" viewBox="0 0 48 48" width="26" >
            <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
            </path>
          </svg>
        </a>
      </div>          

      <!-- comment btn -->
      <span class='col-1' id='comment_btn' style="cursor: pointer;">
        <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
          <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">
          </path>
        </svg>
      </span>

      <!-- share btn -->
      <span class='share_btn col-1'>
        <svg aria-label="Share Post" data-toggle="modal" data-target="#share-modal-{{post.id}}" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
          <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
          </path>
        </svg>
      </span>        
      
      <!-- unsave btn -->     
      <div class='col-8 d-flex justify-content-end'>
      <div class='save_btn">'>
        <a onclick=
          "savePost('{% url 'post_unsave' post.id %}', {{ post.id }} );return false;"
          {% if post.id not in saved_posts %} style="display: none;" {% endif %}
          class="save-btn save-btn-{{post.id}}" id="save-btn-{{post.id}}">
            <!-- save btn -->
            <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
              <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 28.9 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1z">
              </path>
            </svg>  
          </a>
            
          <!-- save btn -->
          <a onclick=
          "savePost('{% url 'post_save' post.id %}', {{ post.id }} );return false;"
          {% if post.id in saved_posts %} style="display: none;" {% endif %}
          class="unsave-btn unsave-btn-{{post.id}}" id="unsave-btn-{{post.id}}">
          <!-- unsave btn -->
            <svg aria-label="Unsave" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24" id='save_btn'>
              <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
              </path>
            </svg>
          </a>
      </div>
      </div>
    </div>

    <div class="row">
      <div class='post-like post-like-{{post.id}} col-12' id='post-like-{{post.id}}'>
        {% if post.post_likes.count > 1 %}
        <span>{{post.post_likes.count}} likes</span>
        {% elif post.post_likes.count == 1 %}
        <span>{{post.post_likes.count}} like</span>
        {% else %}
        <small style="font-weight: lighter !important;"> Be the first one to <b>like this</b> </small>
        {% endif %}
      </div>
    </div>

    
    <!-- csrf token handled by javascript using global cookie -->
    <small class="text-muted d-none d-md-block position-absolute "style='bottom:10%;'>{{ post.created_at|timesince|upto:',' }}</small>
    <div class='modal-footer col-12 justify-content-start position-absolute' style="padding:4% 0 !important; bottom:0;">
      <form method="post" class='commentForm col-12 row' id='commentForm-{{post.id}}' name='commentForm' autocomplete="off">
        <span class='col-2'>
          <img class="rounded-circle post-owner-img" src="{{ user.user.photo.url }}" style="width:32px; height:32px;">
          <svg aria-label="Emoji" disabled fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path><path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path>
          </svg>
        </span>
        <span class='col-7 p-0' style="overflow: hidden; font-size: 80%;"> {{comment_form.text}} </span>
        <input type='submit' class='comment-submit ml-3 col-2' value="Post" style='background-color:white; padding:0;'> 
        <input type='hidden' name='url' id='url' value='{% url "post_comment_create" post.id %}'>
      </form>       
    </div> 
    
</div>

<script>
  var btn = document.querySelector('#comment_btn');
  var input = document.querySelector('#id_text'); // or getElementById

  btn.addEventListener('click', () => {
    input.focus();
  });
</script>