{% extends 'user/base.html' %}

{% block title %} Change Password &#8226; Instagram{% endblock%}

{% block content %}
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <img class="rounded-circle account-img" src="{{user.user.photo.url}}">
                <div class="content-info">
                  <h2 class="media-heading">{{user.username}}</h2>
                </div>
            
            <form method="POST" class="padding" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form.as_p }}
                <button type="submit" class="btn-floating btn-large waves-light waves-effect">Change Password</button>
                <a href="#" title="forgot" >Forgot Password?</a>
            </form>
            </div>
        </div>
    </div>
{% endblock %}