<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Instagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <script src='{% static "js/jquery.waypoints.min.js" %}'></script>
    <script src='{% static "js/infinite.min.js" %}'></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>    
    <div class='alert alert-info mt-5'>
        <p>An email has been sent.</p>
    </div>
</body>
</html>



