{% extends 'user/base.html' %}

{% block title %}{{profile.user.first_name}} (@{{profile.user.username}}) &#8226; Instagram photos and videos &#8212; Facebook{% endblock %}

{% block content%}
<div class="content-section mx-auto">
    <h4>Profile</h4>
  </div>
  <h1 class="media-heading">{{profile.user.first_name}}</h1>
  <div class="content-section mx-auto">
    <div class="media">
      <img class="rounded-circle account-img" src="{{profile.photo.url}}">
      <div class="content-info">
        <h2 class="media-heading">{{profile.user.username}}</h2>
        <p class="text-secondary">{{profile.user.email}}</p>
      </div>
    </div>
  </div>
{% endblock %}