{% extends 'user/base.html' %}

{% block title %}{{profile.user.first_name}} (@{{profile.user.username}}) &#8226; Instagram photos and videos &#8212; Facebook{% endblock %}
{% load static %}
{% block content%}
<div class="content-section mx-auto">
    <h4>Profile</h4>
</div>


    <div class='follow-section'>
      {% if profile.user == user %}
      <div class='btn btn-outline-secondary btn-sm '><span style="color:black;">Edit Profile</span></div>
      {% elif profile.user.username in following %}
      <div class='btn btn-outline-secondary btn-sm '><span style="color:black;">Message</span></div>
      <div class='btn btn-outline-secondary btn-sm follow-btn' style="color:black;"><img src='{% static "img/user-icon.png"%} 'style="width:80%;"></div>
      {% else %}
      <div class='btn btn-primary btn-sm follow-btn'>Follow</div> 
      {% endif%}
    </div>

  </h1>
  <span>{{profile.user.owner_posts.count}} post </span>
  <span>{{profile.user.followers.count}} followers </span>
  <span>{{profile.following.count}} following </span>
  <div class="content-section mx-auto">
    <div class="media">
      <img class="rounded-circle account-img" src="{{profile.photo.url}}">
      <div class="content-info">
        <h2 class="media-heading">{{profile.user.username}}</h2>
        <p class="text-secondary">{{profile.user.email}}</p>
      </div>
    </div>
  </div>

  
  {% if profile.user.owner_posts.count > 0 %}
  {% for post in profile.user.owner_posts.all %}
  <img class="btn article-img all-comments" id='all-comments-{{post.id}}' src="{{ post.photo.url }}" style="width: 50%;">
  {% endfor %}
  
  {% else %}
  <div class='no-post'>
      <img src='{%static "img/no-post.png" %}'>
      <h3>No posts Yet</h3>
      <p> When you share photos, they will appear on <br> your profile.</p>
  </div>
  {% endif %}

{% endblock %}


