
{% load static %}
{% load humanize %}
{% load time_format %}
{% if notifications %}
{% for notification in notifications %}
    {% if notification.owner != user %}
    <div class="media mt-3 ml-2 p-0">
        {%if notification in likes %}
            <div class="media-left">
                <img src="{{notification.owner.user.photo.url}} " class="media-object rounded-circle" style="width:44px; height: 44px;">
            </div>
            <div class="media-body">
                <p><b><a href='{% url 'profile' notification.owner.username %}'>{{notification.owner.username}}</a></b> liked your photo. <small class="text-muted">{{ notification.created_at|timesince|shortUpto:' ' }}</small></p>
            </div>
            <div class="media-right">
                <img src="{{notification.post.photo.url}}" class="media-object all-comments" id='all-comments-{{notification.post.id}}' style="width:44px;">
            </div>


        {% elif notification in comments %}
            <div class="media-left">
                <img src="{{notification.owner.user.photo.url}}" class="media-object rounded-circle" style="width:44px; height: 44px;">
            </div>
            <div class="media-body">
                <p><b><a href='{% url 'profile' notification.owner.username %}'>{{notification.owner.username}}</a></b> commented: {{notification.text}} <small class="text-muted">{{ notification.created_at|timesince|shortUpto:' ' }}</small> </p>
            </div>
            <div class="media-right">
                <img src="{{notification.post.photo.url}}" class="media-object all-comments" id='all-comments-{{notification.post.id}}' style="width:44px">
            </div>


        {% else %}
            <div class="media-left">
                <img src="{{notification.owner.user.photo.url}}" class="media-object rounded-circle" style="width:44px; height: 44px;">
            </div>
            <div class="media-body">
                <p><b><a href='{% url 'profile' notification.owner.username %}'> {{notification.owner.username}}</a></b> started following you. <small class="text-muted">{{ notification.created_at|timesince|shortUpto:' ' }}</small> </p>
            </div>
            <div class="media-right"></div>
        {% endif %}
    </div>
    {% endif %}
{% endfor%}

{% else %}

<small class='text-center d-block justify-content-center'>
    <img src="{%static 'img/circle-heart.png' %}" style="width:4.5rem; margin-top: 5rem; margin-bottom:1rem;">
    <p>
        Activity On Your Posts<br>
        When someone likes or comments on one of your posts, you'll see it here.
    </p>
</small>

{% endif %}