
{% for notification in notifications %}

    {%if notification in likes %}
        {% if notification.owner != notification.post.owner %}
        <p> {{notification.owner.username}} liked your photo. <small class="text-muted">{{ notification.post.created_at|date:"F d, Y" }}</small>
            <img src={{notification.post.photo.url}} style="width:20%;"></p>
        {% endif %}
    {% elif notification in comments %}
        {% if notification.owner != notification.post.owner %}
        <p> {{notification.owner.username}} commented: {{notification.text}} <small class="text-muted">{{ notification.post.created_at|date:"F d, Y" }}</small>
            <img src={{notification.post.photo.url}} style="width:20%;"></p>
        {% endif %}
    {% else %}
        {% if notification.owner != notification.reciever %}
        <p> {{notification.owner.username}} started following you. <small class="text-muted">{{ notification.created_at|date:"F d, Y" }}</small> </p>
        {% endif %}
    {% endif %}

{% endfor%}