
{% if inbox %}

<div class="card-header pb-0 rounded-0 border-bottom">
    <div style="margin-bottom: 1.08rem;">
        <a href="{% url 'inbox_list' %}" class="d-inline d-md-none"><i class="fa fa-arrow-left mr-2"></i></a>
        <img class="rounded-circle article-img" src="{{ inbox.reciever.user.photo.url }}" style="width:24px;">
        <b><a href="{% url 'profile' inbox.reciever.username %}"> {{ inbox.reciever.username }}</a></b>
    </div>

</div>
<div class="card-body border-top-0 m-0 justify-content-end" style="margin-bottom:-4% !important;">
    <div class='message-section' id="message-section-{{inbox.id}}" style="height:64vh; overflow:auto;">
        {% for message in messages %}
            {% if message.post %}
                {% if message in owner_messages %}
                <div class='row m-2 justify-content-end'> 
                    <div class='owner_message p-0'>
                        <div class='message-post-header m-3'>
                            <img class="rounded-circle post-owner-img" src="{{ message.post.owner.user.photo.url }}" style="width:32px;">
                            <a class="owner-username mr-2 text-dark" href="{% url 'profile' message.post.owner.username %}"> {{ message.post.owner }}</a>                        
                        </div>

                        <div class='message-post-body m-0 w-100'>
                            <img class='all-comments w-100' id='all-comments-{{message.post.id}}' src='{{ message.post.photo.url }}'> 
                        </div>
                        
                        {% if message.post.caption %}
                        <div class='message-post-footer m-3'>
                            <span class='owner-username'>{{message.post.owner.username}}</span> {{message.post.caption}}
                        </div>
                        {% endif %} 
                        
                    </div>
                </div>
                {% else %}
                <div class='row m-2 position-relative justify-content-start align-text-bottom'> 
                    <img class="rounded-circle" src="{{ inbox.reciever.user.photo.url }}" style="width:24px; top:95% !important; position:absolute !important;">
                    <div class='reciever_message p-0'>
                        <div class='message-post-header m-3'>
                            <img class="rounded-circle post-owner-img" src="{{ message.post.owner.user.photo.url }}" style="width:32px;">
                            <a class="owner-username mr-2 text-dark" href="{% url 'profile' message.post.owner.username %}"> {{ message.post.owner }}</a>                        
                        </div>

                        <div class='message-post-body m-0 w-100'>
                            <img class='all-comments w-100' id='all-comments-{{message.post.id}}' src='{{ message.post.photo.url }}'> 
                        </div>
                        
                        {% if message.post.caption %}
                        <div class='message-post-footer m-3'>
                            <span class='owner-username'>{{message.post.owner.username}}</span> {{message.post.caption}}
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
            {% else %}
                {% if message in owner_messages %}
                <div class='row m-2 justify-content-end'> 
                    <div class='owner_message'>
                        {{ message.text }} 
                    </div>
                </div>
                {% else %}
                <div class='row m-2 position-relative justify-content-start align-text-bottom'> 
                    <img class="rounded-circle" src="{{ inbox.reciever.user.photo.url }}" style="width:24px; top:95% !important; position:absolute !important;">
                    <div class='reciever_message'>
                        {{ message.text }} 
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %} 
    </div>
    
    <div class='messageFormContainer col-11 ml-3 mt-2 d-flex' style="border:1px solid #e4e4e4; border-radius:20px; height:6vh; margin-bottom:0.5rem;">
        <div class='row p-2'> 
            <span class='emoji col-1 pl-0'>
                <svg aria-label="Emoji" disabled fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path><path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path></svg>
            </span> 
            <!-- csrf token handled by javascript using global cookie -->
            <form method="post" class='messageForm col-8' id='messageForm-{{inbox.id}}' name='messageForm' autocomplete="off" spellcheck="false">
                {{message_form.text}}
                <input type='hidden' name='url' id='url' value='{% url "message_create" inbox.id %}'>
            </form>  
        </div>
    </div>
</div> 

{% else %}
<p> nothing here </p>
{% endif %}


<script>    
    var START_UPDATING_MESSAGES = setInterval(function(){
        if($('.message-section').children().length > 0){
            UpdateMessages();
            clearInterval(START_UPDATING_MESSAGES);
        }
    }, 500);
</script>