{% if profiles %}
  <ul id='new-inbox-list'>
    {% for profile in profiles %}
    <a href = '/direct/new/{{profile.id}}'>
    <li class='new-inbox-profile' id='new-inbox-profile-{{profile.id}}' style="width: fit-content;">
      <div style="display: flex;"><img class='rounded-circle' id='new-inbox-pic'src='{{profile.user.photo.url}}' style="width: 10%;">
      <ul type='none'>
        <li style="font-weight: 600;margin-bottom: -45%;">
          {{profile.username}}
        </li>
        <br>
        <li style="color:grey; font-weight: 400;">
          {{profile.first_name}}
        </li>
      </ul>
    </li>
    </a>
    {% endfor %}
  </ul>
{% else %}
  <div id=''>No results found.</div>
{% endif %}

<script>

</script>