{% if profiles %}

<ul id='new-inbox-list'>
  {% for profile in profiles %}  
  <a href = '/direct/new/{{profile.id}}'>
    <li class='new-inbox-profile' id='new-inbox-profile-{{profile.id}}'>
        <div class="media p-0">
            <div class="media-left">
              <img class='rounded-circle' id='new-inbox-pic'src='{{ profile.user.photo.url}}' style="width: 44px;">              
            </div>
            <div class="media-body">
              <p class="media-heading m-0">
                <b> {{profile.username}} </b>
              </p>
              <span class='text-muted font-weight-normal'>{{profile.first_name}}</span>
              </div>
        </div>
        <br>
    </li>
  </a>
  {% endfor %}
</ul>

{% endif %}